* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif; */
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /* font-size: 14px; */
}

:root {
    --base-color: #9AA2BC;
    --main-color: #F0F3F6;
    --accent-color: #585783;
    --text-color: #999999;
    --text-color-lighter: #c7c7c7;
    --text-color-darker: #333333;
}


header {
    /* background-image: url("../assets/wallhaven-p8d1d3_1920x1080.png"); */
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    
}

header.side {
    width: 30vw;
    height: 100vh;
    float: left;
    position: fixed;
}

.container {
    max-width: 620px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 0 0 1px 1px rgba(88, 87, 131, 0.5);
}

.blog-name {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    color: 	var(--accent-color);
}

.intro {
    color: 	var(--accent-color);
}

.intro a {
    text-decoration: none;
    color: var(--base-color);
}

.navigation-wrapper, .social-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.navigation {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}

.navigation li {
    list-style: none;
}

.btn-link {
    text-decoration: none;
    color: var(--base-color);
    border: 1px solid var(--base-color);
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
}

.social {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: space-between; 
}
.social li {
    list-style: none;
}

.social i.fab {
    font-size: 25px;
    color: var(--base-color);
}


/* 博客文章 */
.content-wrapper.hide {
    display: none;
}

.content-wrapper {
    width: 70%;
    margin-left: 35%;
}

.content-wrapper_inner {
    padding: 50px 50px;
    max-width: 750px;
}

.posts-list li {
    list-style: none;
    margin: 0 0 2.2em 0;
}

.post-title {
    font-weight: 200;
    font-size: 1.5em;
    color: var(--text-color-darker);
}

.abstract {
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1.7em;
    color: var(--text-color);
    margin-top: 0.8em;

}

.post-meta {
    font-weight: 100;
    font-size: 0.8em;
    color: var(--text-color-lighter);
    margin-top: 0.5em;
}

.post-divider {
    width: 30%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid var(--main-color);
}
